{{=
<% %>=}}
    <!-- contact.html -->
    <div class="jumbotron text-center">
        <h1>Sensors Page</h1>

        <table id="t01">
            <tr>
                <th>Sensor ID</th>
                <th>Sensor Type</th>
                <th>IPv6s</th>
            </tr>
            <tr>
                <td>Sensor ID</td>
                <td>Sensor Type</td>
                <td>IPv6s</td>
            </tr>
        </table>
    </div>
    <%={{ }}=%>
        {{=
        <% %>=}}
            <!-- contact.html -->
            <div class="jumbotron text-center">
                <h1>Sensors Page</h1>

                <table id="t01">
                    <tr>
                        <th>Sensor ID</th>
                        <th>Sensor Type</th>
                        <th>IPv6s</th>
                    </tr>
                    <tr>
                        <td>Sensor ID</td>
                        <td>Sensor Type</td>
                        <td>IPv6s</td>
                    </tr>
                </table>
            </div>
            <%={{ }}=%>